<% unless @datum.errors.empty? %>
    <div class = "alert alert-error">

      <ul>
        <% @datum.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>

    </div>
<% end %>

<div class = "well">
  <%= form_for :datum, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.label :key %>
      <%= f.text_field :key %>
      <%= f.label :encryption %>
      <%= f.select :encryption, %w(aes-256-cbc) %>
      <%= f.submit 'Save', class: 'btn btn-primary'%>
  <% end %>
</div>